.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.334);
}

form{
    border-radius: 25px;
    padding: 20px ;
    background-color: rgba(255, 255, 255, 0.438);
}

form button{
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(158, 7, 158);
    color: white;
}