*{
    margin: 0;
    padding: 0;
}

.body{
    background: url('../img/bg.jpg');
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#board{
    background: linear-gradient(rgb(124, 214, 124), rgb(196, 196, 98));
    width: 92vmin;
    height: 92vmin;
    border: 2px solid black;
    box-shadow: -5px 5px 10px rgb(25, 22, 22);
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.score{
    position:absolute;
    top: 9px;
    right: 70px;
    display: flex;
    flex-direction: column;
    place-items: left;

}

#scoreBox, #highScoreBox{
    font-size: 40px;
    font-weight: bold;
}

.head{
    background: linear-gradient(red, yellow);
    border: 2px solid red;
    transform: scale(1.02);
    border-radius: 12px;
}

.snake-body{
    background: red;
    border: 0.25vmin solid white;
    border-radius: 12px;

}


.food{
    background: linear-gradient(red, purple);
    border: 0.25vmin solid black;
    border-radius: 50%;
}